<div id="loading" class="loading loading--in">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div class="content-block content-block--nav content-block--content belongs-page belongs-page--contact" {{#if pagecontact}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div class="contact">
    <div class="contact__left">
      <img class="contact__map" src="/images/map.png"/>
      <img class="contact__bubble" src="/images/bubble.png" />
    </div>
    <div class="contact__right">
      <h3>LET'S TALK</h3>
      <h1 class="first">CONNECT</h1>
      <h1 class="second">WITH US</h1>
      <h1 class="third">TODAY</h1>
      <div class="contact__divider"></div>
      <div class= "first-text mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="sample1">Full Name</label>
      </div>
      <div class="second-text mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text">
        <label class="mdl-textfield__label" for="sample1">Email</label>
      </div>
      <div class="third-text mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows= "3"></textarea>
        <label class="mdl-textfield__label" for="sample5">Your Message</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        SUBMIT
      </button>
    </div>
  </div>
</div>

<!--

CARDS

-->
<div class="content-block content-block--nav belongs-page belongs-page--home" {{#if pagehome}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div class="cards-container">
    {{#each homeCards}}
    <div class="{{#ifIsNthItem}}card card--large{{else}}card{{/ifIsNthItem}}"
      data-print-items="{{json this.printItems}}"
      data-tv-spots="{{json this.tvSpots}}"
      data-radio-spots="{{json this.radioSpots}}"
    >
      <div class="product__bg"></div>
      <div class="card__top">
        <img class"card__img" src="
        {{#ifIsNthItem}}
          {{this.wideCardSrc}}
        {{else}}
          {{this.cardSrc}}
        {{/ifIsNthItem}}" />
      </div>

      <div
        class="card__bottom">
          <h3 class="card-subtext">
            {{#if this.subTitle}}{{this.subTitle}}{{/if}}
          </h3>
        <h2 class="card-title">{{this.tourName}}</h2>
        <div class="card-button">View Project</div>
        <div
          class="card-blur"
          style="background-image: url(
            {{#ifIsNthItem}}
              {{this.wideCardSrc}}
            {{else}}
              {{this.cardSrc}}
            {{/ifIsNthItem}}
            )"></div>

          <div class="card-filter"></div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="content-block belongs-page belongs-page--home" {{#if pagehome}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div id="fullVideoContainer" class="video-wrapper">
    <div class="video-logo">
      <img src="/images/gtc-logo-bug.png"/>
      <span>VIDEO</span>
    </div>
    <div class="artist-name">
      ED SHEERAN
    </div>
    <div class="info-container">
      <span>ONE-MINUTE GENERIC</span>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    </div>
    <svg
      id="fullVideoPlay"
      class="video-overlay-play-button"
      fill="currentColor"
      viewBox="0 0 24 24">
      <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 18v-12l10 6-10 6z"/>
    </svg>
    <video
      id="fullVideo"
      src="http://d2rsmyw7crhe5b.cloudfront.net/71InTw.mp4"
      poster="/images/poster-1.png"></video>
    <div
      id="fullVideoPoster"
      class="full-video-poster parallax">
      <div class="darken-poster"></div>
    </div>
  </div>
</div>
<div class="content-block belongs-page belongs-page--home" {{#if pagehome}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div class="about-services">
    <div class="about-services__left">
      <video controls
        src="http://d2rsmyw7crhe5b.cloudfront.net/71InTw.mp4"
        width="620">
        Sorry, your browser doesn't support embedded videos

      </video>
    </div>
    <div class="about-services__right">
      <div class="about-services__medium about-services--radio">
        <img src="/images/icons8-Microphone-100-white.png"/>
        <span>RADIO</span>
      </div>
      <div class="about-services__medium about-services--tv">
        <img src="/images/icons8-Monitor-100-white.png"/>
        <span>TV</span>
      </div>
      <div class="about-services__medium about-services--experience">
        <img src="/images/icons8-Eye-100-white.png"/>
        <span>TV</span>
      </div>
      <div class="about-services__medium about-services--digital">
        <img src="/images/icons8-Resolution-100-white.png"/>
        <span>TV</span>
      </div>
    </div>
  </div>
</div>
<!--

ABOUT

-->
<div class="content-block belongs-page belongs-page--about" {{#if pageabout}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div
    class="about-section about-section--first parallax">
    <h1>DIGITAL<br/>MARKETING</h1>
    <h3>UNLIKE ANYTHING YOU COULD IMAGINE</h3>
    <span>SCROLL DOWN</span>
  </div>
</div>
<svg class="hidden">
  <symbol id="icon-cross" viewBox="0 0 24 24">
    <title>cross</title>
    <path d="M 5.5,2.5 C 5.372,2.5 5.244,2.549 5.146,2.646 L 2.646,5.146 C 2.451,5.341 2.451,5.659 2.646,5.854 L 8.793,12 2.646,18.15 C 2.451,18.34 2.451,18.66 2.646,18.85 L 5.146,21.35 C 5.341,21.55 5.659,21.55 5.854,21.35 L 12,15.21 18.15,21.35 C 18.24,21.45 18.37,21.5 18.5,21.5 18.63,21.5 18.76,21.45 18.85,21.35 L 21.35,18.85 C 21.55,18.66 21.55,18.34 21.35,18.15 L 15.21,12 21.35,5.854 C 21.55,5.658 21.55,5.342 21.35,5.146 L 18.85,2.646 C 18.66,2.451 18.34,2.451 18.15,2.646 L 12,8.793 5.854,2.646 C 5.756,2.549 5.628,2.5 5.5,2.5 Z"/>
  </symbol>
</svg>
<div class="content-block belongs-page belongs-page--about" {{#if pageabout}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div
    class="about-section about-section--second">
    <h1
      data-aos="fade-up">WE CONNECT YOU TO YOUR <span>GLOBAL</span> FANS</h1>
  </div>
</div>
<div class="content-block belongs-page belongs-page--about" {{#if pageabout}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div
    class="about-section about-type about-section--third">
    <div
      data-aos="fade-up"
      class="about-section--third__top about-type__top">
      <img src="/images/gtc-logo-bug-white.png"/>
      <span class="top-text">PRINT</span>
    </div>
    <img
      data-aos="fade-left"
      data-aos-duration="1500"
      class="about-section--third__image"
      src="/images/9edf4-shania.jpg"/>
    <div
      data-aos="fade-up"
      class="about-section--third__bottom about-type__bottom">
      <span>INSTAGRAM | FACEBOOK | SNAPCHAT | TWITTER</span>
      <p>Connect with your fans outdoors and on the go. Take control of your messaging.</p>
    </div>
  </div>
</div>
<div class="content-block belongs-page belongs-page--about" {{#if pageabout}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div class="about-section about-type about-section--fourth">
    <div
      data-aos="fade-up"
      class="about-section--fourth__top about-type__top">
      <img src="/images/gtc-logo-bug-white.png"/>
      <span class="top-text">MOBILE</span>
    </div>
    <div
      class="about-section--fourth__center">
      <img
        data-aos="zoom-in-left"
        data-aos-duration="1500"
        class="center-image about-section--fourth__left-image" src="/images/mobile-left.jpg"/>
      <img
        data-aos="zoom-out"
        data-aos-duration="1000"
        class="center-image about-section--fourth__center-image" src="/images/mobile-center.jpg"/>
      <img
        data-aos="zoom-in-right"
        data-aos-duration="1500"
        class="center-image about-section--fourth__right-image" src="/images/mobile-right.jpg"/>
    </div>
    <div
      data-aos="zoom-out"
      class="about-section--fourth__bottom about-type__bottom">
      <span>INSTAGRAM | FACEBOOK | SNAPCHAT | TWITTER</span>
      <p>Creating the perfect content to build your fanbase and keep people informed.</p>
    </div>
  </div>
</div>
<div class="content-block belongs-page belongs-page--about" {{#if pageabout}}style="display:block"{{else}}style="display:none"{{/if}}>
  <div
    class="about-section about-type about-section--fifth parallax">
    <div
      data-aos="zoom-out"
      class="about-section--fifth__top about-type__top">
      <img src="/images/gtc-logo-bug-white.png"/>
      <span class="top-text">DIGITAL</span>
    </div>
    <video
      data-aos="fade-up"
      data-aos-duration="1000"
      class="about-section--fifth__video"
      controls
      src="http://d2rsmyw7crhe5b.cloudfront.net/71InTw.mp4"
      width="620">
      Sorry, your browser doesn't support embedded videos,
    </video>
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="about-section--fifth__bottom about-type__bottom">
      <span>DIGITAL VIDEO PRODUCTION</span>
      <p>Creating the perfect content to build your fanbase and keep people informed.</p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer__top">
    <span>Copyright © 2017 Global Tour Creatives. All rights reserved.</span>
  </div>
  <div class="footer__bottom">
    <span>Privacy</span>
    <b>/</b>
    <span>Terms Of Use</span>
    <b>/</b>
    <span>Cookies</span>
  </div>
</div>
<div id="videoItemsContainer" style="display:none">
  <div id="lightbox-video-1">
    <video controls
      src="http://d2rsmyw7crhe5b.cloudfront.net/TkEsOV.mp4"
      width="620">
      Sorry, your browser doesn't support embedded video
    </video>
  </div>
  <div id="lightbox-video-2">
    <video controls
      src="http://d2rsmyw7crhe5b.cloudfront.net/71InTw.mp4"
      width="620">
      Sorry, your browser doesn't support embedded video
    </video>
  </div>
</div>
<div id="audioItemsContainer" style="display:none">
  <div id="lightbox-audio-1">
    <audio
      controls
      src="http://d17hws2m7av7qo.cloudfront.net/media/revisions/new/vuTg6B.mp3">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </div>
  <div id="lightbox-audio-2">
    <audio
      controls
      src="http://d17hws2m7av7qo.cloudfront.net/media/revisions/new/aLMPGA.mp3">
      Your browser does not support the <code>audio</code> element.
    </audio>
  </div>
</div>
