<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */
    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
    </style>
    <!-- MATERIAL DESIGN LITE, FOR NAV + CARD BUTTONS ON MOBILE -->
    <!-- END MATERIAL DESIGN LITE -->
    <link rel='stylesheet' href='/stylesheets/vendors/vendors.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Lato', 'Roboto Condensed', 'Material Icons']
        },
        timeout: 10000
      });
    </script>
  </head>
  <body class="body-class">
    <svg style="display:none">
      <symbol id="closeIcon" viewBox="0 0 612 612" fill="currentColor">
        <polygon points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011"/>
      </symbol>
      <symbol id="logoSVG" viewBox="0 0 348.33 106.03" style="enable-background:new 0 0 348.33 106.03;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#FFFFFF;}
        .st1{fill:#EC1A29;}
      </style>
      <g>
        <g>
          <path class="st0" d="M188.85,38.46l-3.03,2.65c-1.25-1.25-2.85-1.86-4.83-1.86c-1.8,0-3.32,0.61-4.57,1.83
            c-1.25,1.22-1.86,2.74-1.86,4.57c0,1.83,0.61,3.35,1.83,4.57c1.25,1.19,2.77,1.8,4.6,1.8c1.78,0,3.26-0.52,4.42-1.57v-2.74h-5.33
            v-3.96h9.52v8.21c-1.89,2.53-5.09,4.13-8.62,4.13c-3.06,0-5.62-0.99-7.74-2.97c-2.13-2.01-3.17-4.48-3.17-7.48
            c0-3,1.05-5.47,3.17-7.48c2.13-2.01,4.69-3,7.74-3C184.11,35.17,186.73,36.28,188.85,38.46z"/>
          <path class="st0" d="M198.69,55.78V35.49h4.48V51.7h7.92v4.08H198.69z"/>
          <path class="st0" d="M221.08,38.23c2.13-2.04,4.69-3.06,7.68-3.06c3,0,5.56,1.02,7.66,3.06c2.12,2.04,3.17,4.51,3.17,7.45
            s-1.05,5.44-3.14,7.48c-2.1,2.01-4.66,3.03-7.68,3.03c-3,0-5.56-1.02-7.68-3.03c-2.1-2.04-3.14-4.54-3.14-7.48
            S218.98,40.26,221.08,38.23z M224.25,50.28c1.22,1.22,2.74,1.83,4.51,1.83c1.78,0,3.26-0.61,4.48-1.86
            c1.25-1.25,1.86-2.79,1.86-4.57s-0.61-3.29-1.83-4.54c-1.22-1.25-2.74-1.89-4.51-1.89c-1.78,0-3.29,0.64-4.51,1.89
            c-1.22,1.25-1.83,2.77-1.83,4.54C222.42,47.51,223.03,49.03,224.25,50.28z"/>
          <path class="st0" d="M248.41,55.78V35.49h8.06c1.63,0,3,0.5,4.1,1.48c1.13,0.96,1.69,2.21,1.69,3.7c0,1.95-0.96,3.49-2.59,4.07
            c2.59,0.47,4.08,2.45,4.08,5.04c0,1.72-0.58,3.17-1.78,4.31c-1.16,1.13-2.62,1.69-4.4,1.69H248.41z M252.81,43.58h2.94
            c1.28,0,2.18-0.9,2.18-2.15c0-1.19-0.9-2.1-2.15-2.1h-2.97V43.58z M252.81,51.91h3.87c1.51,0,2.62-1.08,2.62-2.47
            c0-1.4-1.11-2.39-2.65-2.39h-3.84V51.91z"/>
          <path class="st0" d="M270.42,55.78l10.57-21.45l10.57,21.45h-4.77l-1.57-3.23h-8.47l-1.57,3.23H270.42z M278.4,48.73h5.15
            l-2.59-5.33L278.4,48.73z"/>
          <path class="st0" d="M299.68,55.78V35.49h4.48V51.7h7.92v4.08H299.68z"/>
        </g>
        <g>
          <path class="st0" d="M174.61,71.89v-5.75h-1.95V64.7h5.46v1.45h-1.92v5.75H174.61z"/>
          <path class="st0" d="M183.65,65.67c0.75-0.72,1.66-1.08,2.72-1.08c1.06,0,1.97,0.36,2.71,1.08c0.75,0.72,1.13,1.6,1.13,2.64
            c0,1.04-0.37,1.93-1.12,2.65c-0.74,0.71-1.65,1.07-2.72,1.07c-1.06,0-1.97-0.36-2.72-1.07c-0.74-0.72-1.11-1.61-1.11-2.65
            C182.53,67.27,182.9,66.39,183.65,65.67z M184.77,69.94c0.43,0.43,0.97,0.65,1.6,0.65c0.63,0,1.16-0.22,1.59-0.66
            c0.44-0.44,0.66-0.99,0.66-1.62c0-0.63-0.22-1.17-0.65-1.61c-0.43-0.44-0.97-0.67-1.6-0.67c-0.63,0-1.17,0.23-1.6,0.67
            c-0.43,0.44-0.65,0.98-0.65,1.61C184.12,68.96,184.34,69.5,184.77,69.94z"/>
          <path class="st0" d="M195.33,64.7h1.59v4.12c0,1.17,0.5,1.74,1.48,1.74c0.98,0,1.46-0.58,1.46-1.74V64.7h1.59v4.28
            c0,0.97-0.29,1.71-0.87,2.24C200,71.74,199.27,72,198.39,72c-0.89,0-1.62-0.26-2.2-0.77c-0.58-0.53-0.87-1.27-0.87-2.25V64.7z"/>
          <path class="st0" d="M206.91,71.89V64.7h3.01c0.67,0,1.25,0.23,1.72,0.69c0.48,0.45,0.72,1.01,0.72,1.68
            c0,0.92-0.51,1.71-1.28,2.04l1.75,2.78h-1.8l-1.5-2.39h-0.02h-1.04v2.39H206.91z M208.49,68.09h1.26c0.62,0,1.03-0.39,1.03-1
            c0-0.55-0.39-0.95-0.9-0.95h-1.39V68.09z"/>
          <path class="st0" d="M231.4,65.92l-1.08,0.92c-0.49-0.55-1.09-0.82-1.83-0.82c-0.64,0-1.18,0.22-1.62,0.65
            c-0.44,0.43-0.66,0.97-0.66,1.62s0.22,1.19,0.65,1.62c0.44,0.42,0.98,0.64,1.63,0.64c0.74,0,1.35-0.28,1.84-0.83l1.08,0.92
            c-0.73,0.86-1.77,1.35-2.92,1.35c-1.08,0-1.99-0.35-2.74-1.05c-0.75-0.71-1.12-1.59-1.12-2.65s0.37-1.94,1.12-2.65
            c0.75-0.71,1.66-1.06,2.74-1.06C229.64,64.58,230.67,65.09,231.4,65.92z"/>
          <path class="st0" d="M236.44,71.89V64.7h3.01c0.67,0,1.25,0.23,1.72,0.69c0.48,0.45,0.72,1.01,0.72,1.68
            c0,0.92-0.51,1.71-1.28,2.04l1.75,2.78h-1.8l-1.5-2.39h-0.02h-1.04v2.39H236.44z M238.02,68.09h1.26c0.62,0,1.03-0.39,1.03-1
            c0-0.55-0.39-0.95-0.9-0.95h-1.39V68.09z"/>
          <path class="st0" d="M247.34,71.89V64.7h4.91v1.45h-3.32v1.35h3.11v1.41h-3.11v1.54h3.4v1.45H247.34z"/>
          <path class="st0" d="M256.99,71.89l3.75-7.61l3.75,7.61h-1.69l-0.56-1.15h-3l-0.56,1.15H256.99z M259.81,69.39h1.83l-0.92-1.89
            L259.81,69.39z"/>
          <path class="st0" d="M269.9,71.89v-5.75h-1.95V64.7h5.46v1.45h-1.92v5.75H269.9z"/>
          <path class="st0" d="M278.41,71.89V64.7H280v7.19H278.41z"/>
          <path class="st0" d="M288.7,72.24l-3.69-7.54h1.69l2,4.22l2.01-4.22h1.69L288.7,72.24z"/>
          <path class="st0" d="M297.36,71.89V64.7h4.91v1.45h-3.32v1.35h3.11v1.41h-3.11v1.54h3.4v1.45H297.36z"/>
          <path class="st0" d="M308.26,69.62c0.38,0.63,0.98,0.95,1.81,0.95c0.73,0,1.07-0.33,1.07-0.71c0-0.27-0.15-0.45-0.39-0.6
            c-0.13-0.09-0.42-0.22-0.62-0.27c-0.18-0.07-0.59-0.21-0.79-0.29c-1.13-0.41-1.74-1-1.74-2.08c0-0.62,0.23-1.11,0.69-1.48
            c0.46-0.37,1.03-0.56,1.7-0.56c1.04,0,1.84,0.39,2.39,1.18l-1.06,0.81c-0.29-0.37-0.72-0.56-1.29-0.56
            c-0.53,0-0.87,0.25-0.87,0.59c0,0.24,0.06,0.38,0.28,0.52c0.11,0.06,0.23,0.11,0.32,0.15l0.52,0.18c0.24,0.08,0.44,0.15,0.62,0.23
            c1.31,0.5,1.84,1.1,1.84,2.14c0,1.33-0.91,2.2-2.67,2.2c-1.46,0-2.47-0.65-2.95-1.59L308.26,69.62z"/>
        </g>
      </g>
      <path class="st1" d="M147.07,28.36H42.05c-4.1,0-7.46,3.36-7.46,7.46v35.72c0,4.1,3.36,7.46,7.46,7.46h105.02
        c4.1,0,7.46-3.36,7.46-7.46V35.82C154.53,31.72,151.17,28.36,147.07,28.36z"/>
      <g>
        <path class="st0" d="M76.23,54.03c0-1.75-1.74-4.22-4.57-4.22l-11.18,0.02c0,3.49,2.33,6.45,5.23,7.39v7.34H53.92V42.85l11.81,0.01
          c4.02,0,6.94-3.29,6.88-7.02l-24.65,0c-2.74,0.06-4.58,2.33-4.58,4.52c0,3.18,0.02,26.27,0.02,26.55c0,2.62,2.05,4.61,4.62,4.61
          c1.7,0,23.84,0,23.57,0c2.91,0,4.66-2.31,4.66-4.61L76.23,54.03z"/>
        <path class="st0" d="M108.66,42.78H98.52L98.51,72.8c-7,0-9.99-6.04-9.99-9.52l-0.04-20.51h-4.21c-3.68,0-6.96-2.87-6.96-6.95
          l26.7,0.01c2.17,0,4.64,1.69,4.64,4.64V42.78z"/>
        <path class="st0" d="M145.73,43.26c-1.98,3.88-5.68,6.53-10.57,6.53v-6.96h-11.8v21.71h11.8v-6.92c4.66,0,8.86-3.02,10.57-6.53
          v15.81c0,2.63-2.15,4.62-4.64,4.62c-1.29,0-22.23,0-23.61,0c-3.22,0-4.64-2.73-4.64-4.62V40.54c0-3.08,2.54-4.65,4.66-4.7l23.53,0
          c2.63,0,4.7,1.99,4.7,4.7V43.26z"/>
      </g>
    </symbol>
    </svg>
    <div id="loading" class="loading loading--in">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <div class="nav__mobile-logo">
        <svg viewBox="0 0 348.33 106.03"><use xlink:href="#logoSVG" /></svg>
      </div>

      <header style="pointer-events: auto" class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <div id="search-results" class="search-results">
          </div>
          <!-- Title -->
          <a href="/" id="header-logo" class="nav__logo-container">
            <svg viewBox="0 0 348.33 106.03"><use xlink:href="#logoSVG" /></svg>
          </a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <a id="header-about" class="mdl-navigation__link" href="">ABOUT</a>
            <a id="header-login" class="mdl-navigation__link" href="http://www.globaltourcreatives.com/gtcforce/log-in/" target="_blank">LOGIN</a>
            <a id="header-contact" class="mdl-navigation__link" href="">CONTACT</a>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                        mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                     for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample"
                       id="fixed-header-drawer-exp">
              </div>
            </div>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
          <a id="drawer-home" class="mdl-navigation__link" href="">HOME</a>
          <a id="drawer-about" class="mdl-navigation__link" href="">ABOUT</a>
          <a id="drawer-login" class="mdl-navigation__link" href="http://www.globaltourcreatives.com/gtcforce/log-in/" target="_blank">LOGIN</a>
          <a id="drawer-contact" class="mdl-navigation__link" href="">CONTACT</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
      </main>
    </div>
    <div class="body-container">
      {{{body}}}
      {{#if showtour}}
        {{#each tvSpots}}
          <div id="lightbox-video-1">
            <video controls
              src="{{{this.spotURL}}}"
              width="620">
              Sorry, your browser doesn't support embedded video
            </video>
          </div>
        {{/each}}
        {{#each radioSpots}}
          <div id="lightbox-audio-1">
            <audio controls
              src="{{{this.spotURL}}}">
              Sorry, your browser doesn't support the audio element
            </audio>
          </div>
        {{/each}}
      <div class="details details--open details--open-init">
        <div class="details__bg details__bg--up"></div>
        <div class="details__bg details__bg--down"></div>
        <img class="details__img" src="{{mainImage}}" alt="img 01"/>
        <h3 class="details__subtitle">{{subTitle}}</h3>
        <h2 class="details__title">{{tour}}</h2>
        <div class="details__deco"></div>
        <div
          class="details__assets-container">
          <div
            {{#unless radioSpots}}style="display:none;"{{/unless}}
            class="details__assets-col details__assets-audio">
            <div
              class="details__asset-icon details__audio-icon">
              <img src="/images/asset-audio.png" />
              <span>RADIO</span>
            </div>
            <div
              class="details__asset details__audio-asset">
              <a
                data-lightboxindex="0"
                href="#lightbox-audio-1"
                data-href="#lightbox-audio-1"
                data-type="html"
                class="lightbox lightbox-audio">
                <i class="material-icons">mic</i><b>Generic</b>
              </a>
            </div>
          </div>
          <div
            {{#unless tvSpots}}style="display:none;"{{/unless}}
            class="details__assets-col details__assets-video">
            <div
              class="details__asset-icon details__audio-icon">
              <img src="/images/asset-video.png" />
              <span>TV</span>
            </div>
            <div
              class="details__asset details__audio-asset">
              <a
                data-lightboxindex="1"
                href="#lightbox-video-1"
                data-href="#lightbox-video-1"
                data-type="html"
                class="lightbox lightbox-video">
                <i class="material-icons">play_circle_outline</i><b>Generic</b>
              </a>
            </div>
          </div>
          <div
            {{#unless printItems}}style="display:none;"{{/unless}}
            class="details__assets-col details__assets-photo">
            <div
              class="details__asset-icon details__audio-icon">
              <img src="/images/asset-image.png" />
              <span>ART</span>
            </div>
            <div
              class="details__asset details__audio-asset">
                <a
                  data-lightboxindex="2"
                  href="{{#if printItems}}{{#each printItems}}{{this.thumbnailURL}}{{/each}}{{/if}}"
                  class="lightbox lightbox-print lightbox-image">
                  <i class="material-icons">create</i><b>Generic</b>
                </a>
            </div>
          </div>
        </div>
        <button class="details__close"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
      </div>
      {{/if}}
    </div>
  </body>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="/javascripts/vendors/vendors.js"></script>
  <script>
    this.depp||function(n,e){depp=function(){var n={},u=function(){},f={},o={},a={},s={},d={};function p(n){throw new Error("Depp Error: "+n)}function r(n,e){var t=function r(n,i){i=i||[];var c=[],o=[];return n.forEach(function(t){if(0<=i.indexOf(t)&&p("Circular reference"),!(t in f))return c.push("#"+t);f[t].forEach(function(n){if("#"==n[0]){var e=i.slice();e.push(t),e=r([n.slice(1)],e),c=c.concat(e[0]),o=o.concat(e[1])}else o.push(n)})}),[c,o]}(n);t[0].length?i(t[0],function(){r(n,e)}):e(t[1])}function i(n,t){var e,r,i=n.length,c=i;if(0==i)return t();for(e=function(n,e){if(e)return t(n);--c||t()};i--;)(r=n[i])in a?e(r,a[r]):(o[r]=o[r]||[]).push(e)}function l(n,e){var t=o[n];if(a[n]=e,t)for(;t.length;)t[0](n,e),t.splice(0,1)}return n.define=function(n){var e;for(var t in n)t in f&&p("Bundle already defined"),e=n[t],f[t]=e.push?e:[e],l("#"+t)},n.config=function(n){for(var e in n)d[e]=n[e]},n.require=function(n,e,t){r(n=n.push?n:[n],function(n){i(n,function(n){n?(t||u)(n):(e||u)()}),n.forEach(function(n){var t,r,i,c,e,o,f;n in s||(s[n]=!0,t=n,r=l,e=document,o=d.before||u,f=t.replace(/^(css|img)!/,""),/(^css!|\.css$)/.test(t)?(i=!0,(c=e.createElement("link")).rel="stylesheet",c.href=f):/(^img!|\.(png|gif|jpg|svg)$)/.test(t)?(c=e.createElement("img")).src=f:((c=e.createElement("script")).src=t,c.async=!1),c.onload=c.onerror=c.onbeforeload=function(n){var e=n.type[0];if(i&&"hideFocus"in c)try{c.sheet.cssText.length||(e="e")}catch(n){18!=n.code&&(e="e")}if("b"==e){if(!n.defaultPrevented)return;e="e"}r(t,"e"==e)},o(t,c),e.head.appendChild(c))})})},n.done=function(n){f[n]=[],l("#"+n)},n.isDefined=function(n){return n in f},n.reset=function(){f={},o={},a={},s={},d={}},n}(),(e=n.createEvent("HTMLEvents")).initEvent?e.initEvent("depp-load",!1,!1):e=new Event("depp-load"),n.dispatchEvent(e)}(document);

    // define dependencies
    depp.define({
      'animate': ['/stylesheets/vendors/animate.css'],
      'parallax': ['/javascripts/parallax.js'],
      'aos': ['/javascripts/vendors/aos.js', '/stylesheets/vendors/aos.css'],
      // 'plugin2': ['#jquery', '/path/to/plugin2.js', '/path/to/plugin2.css', '/path/to/plugin2.png']
    });
    var deferAnimate = () => {
      depp.require(['animate'], function() {
        _HELPERS.animationsAvailable = true;
      });
    };
    var deferParallax = () => {
      depp.require(['parallax'], function() {
        // do something after parallax loads
      });
    };
    var deferAOS = () => {
      depp.require(['aos'], function() {
        if (
          typeof loadingHandler !== 'undefined'
          && !loadingHandler.initAOS
          && GTC_ROUTER.currentNavObject.page === 'about'
        ) {
          loadingHandler.initAOS = true;
          AOS.init();
          GTC_ROUTER.unsubscribe('init-aos');
        }
      });
    };
  </script>
  <script defer src="/javascripts/helpers.js"></script>
  <script defer src="/javascripts/vendors/tobi.js"></script>
  <script defer src="/javascripts/router.js"></script>
  <script defer src="/javascripts/state.js"></script>
  <script defer src="/javascripts/navigation.js"></script>
  <script defer src="/javascripts/card-grid.js"></script>
  <script defer src="/javascripts/search.js"></script>
  <script defer src="/javascripts/index.js"></script>
  <script defer src="/javascripts/init.js"></script>
  {{#if showtour}}
  <script> if (!tobi) { var tobi = new Tobi() }</script>
  {{/if}}
  <script>
    var lazyLoadInstance = new LazyLoad({
        elements_selector: '[data-src]',
        threshold: 1000
        // ... more custom settings?
    });
  </script>
</html>
